<html>
<head>
	<title> Doctor Registration</title>

</head>
<body>
<h1>Doctor Registration From</h1>
<form name ="userinput" method="post" action="doctorTempRegistration">
<table width="10%">

<tr>
<td>First Name: </td>
<td> <input type="text" id="fname" name="fname"/></td>
</tr>

<tr>
<td>Last Name:</td>
<td> <input type="text" id="lname" name="lname"/></td>
</tr>

<tr>
<td>Email:</td>
<td> <input type="text" id="email" name="email"/></td>
</tr>

<tr>
<td>Phone:</td>
<td> <input type="text" id="phone" name="phone"/></td>
</tr>

<tr>
<td>Practice zipcode:</td>
<td> <input type="text" id="praczip" name="praczip"/></td>
</tr>
<tr>
<td>Specialty:</td>
<td><select name="specialty" id="specialty">
<option value="1">Primary Care Doctor</option>
<option value="2">Dentist</option>
</select>
</td>
</tr> 

<tr align="center" style="column-span:2">
<td><input type="submit" value="Submit Data" name="submit"/></td>
</tr>
</table>
</form>
</body>
</html>