<html>
<head>
	<title> Doctor Registration</title>

</head>
<body>
<h1>Doctor Registration From</h1>
<form name ="userinput" method="post" action="save_patientinput">
<table width="10%">

<tr>
<td>User Name: </td>
<td> <input type="text" id="username" name="fname"/></td>
</tr>

<tr>
<td>Email:</td>
<td> <input type="text" id="email" name="lname"/></td>
</tr>

<tr>
<td>Password:</td>
<td> <input type="text" id="password" name="email"/></td>
</tr>

<tr>
<td>Re-Type Password:</td>
<td> <input type="text" id="password2" name="phone"/></td>
</tr>

<tr align="center" style="column-span:2">
<td><input type="submit" value="Submit Data" name="submit"/></td>
</tr>
</table>
</form>
</body>
</html>